.khan__buy-link {
  padding: 0 0 0 40px;
  color: #2F80ED;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .3s linear .3s;
  }
.khan__buy-link:hover {
  opacity: 50%;
}
